<!DOCTYPE html>
<html>
    <head>
        <title>Flask App</title>
        <!-- O primeiro parametro do url_for() é o nome da pasta -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <header>
            <div class="container">
                <h1 class="logo">Ardit's web app</h1>
                <strong><nav>
                    <ul class="menu">
                        <!-- url_for() recebe o nome de FUNCAO do decorator do @app.route -->
                        <li><a href="{{ url_for('home_endpoint') }}">Home</a></li>
                        <li><a href="{{ url_for('about_endpoint') }}">About</a></li>
                        <li><a href="{{ url_for('plot_endpoint') }}">Plot</a></li>
                    </ul>
                </nav></strong>
            </div>
        </header>
        <div class="container">
            <!-- 'content' é o nome do bloco -->
            {%block content%}
            <!-- indica o fim do bloco -->
            {%endblock%}
        </div>
    </body>
</html>
